{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
    <head>
        {%- block head %}
        <title>{% block title %}{{title|default}}{% endblock title %}</title>

        {%- block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}

        {%- block styles %}
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {%- endblock styles %}
        {%- endblock head %}
    </head>
    <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
        {% block navbar %}
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}

        {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {%- endblock scripts %}
        {%- endblock body %}
    </body>
    {%- endblock html %}
</html>
{% endblock doc -%}