{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
{%- block head %}
<title>{% block title %}{{title|default}}{% endblock title %}</title>
<meta charset="utf-8" />

{%- block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- endblock metas %}

{%- block styles %}
<!-- Bootstrap -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='octicons/octicons.css') }}" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/quit.css') }}" />
{%- endblock styles %}
<script type="text/javascript">
var inline_functions = [];
</script>
{%- endblock head %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
{% block body -%}
{% block navbar %}
{%- endblock navbar %}
{% block content -%}
{%- endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    for (f in inline_functions) {
        inline_functions[f]();
    }
});
</script>
{%- endblock scripts %}
{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}
