{% extends "default.html" %}

{% block headline %}<div class="lead">Branch</div>{% endblock %}

{% block quit_content %}
<form class="form-inline" style="display: inline" id="branch" role="navigation">

<div class="row">

<div class="form-group">
<label class="control-label" for="oldbranch">
    <i class="fa fa-code-fork" aria-hidden="true"></i> Old Branch:</span>
</label>
<select name="oldbranch" class="form-control branch-select">
    {% for branch in available_branches %}
        <option value="{{ branch }}">{{ branch }}</option>
    {% endfor %}
</select>
</div>

<div class="form-group">
<label class="control-label" for="newbranch">
    <i class="fa fa-code-fork" aria-hidden="true"></i> New Branch:</span>
</label>
<input type="text" name="newbranch" class="form-control branch-select" />
</div>
</div>

<div class="row">

<button type="submit" class="btn btn-default btn-lg">
    <img class="octicon" src="{{ url_for('static', filename='octicons/svg/git-branch.svg') }}" />
    Branch
</button>
</div>
<div class="alert" role="alert" style="display: none"></div>
</form>

{% endblock %}
