{% extends "base.html" %}

{% block title %}Quit{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Quit Store</a>
                </div>
                <ul class="nav navbar-nav">
                    <li{% if request.url_rule.endpoint == 'git.commits' %} class="active"{% endif %}><a href="{{ url_for('git.commits') }}"><i class="fa fa-history" aria-hidden="true"></i> Commits</a></li>

                    <li{% if request.url_rule.endpoint == 'git.merge' %} class="active"{% endif %}><a href="{{ url_for('git.merge') }}">
                        <img class="octicon" style="color: white" src="{{ url_for('static', filename='octicons/svg/git-merge-white.svg') }}" />
                        Merge</a>
                    </li>

                    <li{% if request.url_rule.endpoint == 'git.branch' %} class="active"{% endif %}><a href="{{ url_for('git.branch') }}">
                        <i class="fa fa-code-fork" aria-hidden="true"></i> Branch</a>
                    </li>

                    <li {% if request.url_rule.endpoint in ['endpoint.sparql', 'endpoint.provenance'] %} class="dropdown active"{% else %} class="dropdown"{% endif %}>
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database" aria-hidden="true"></i> Data <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('endpoint.sparql') }}"><i class="fa fa-code" aria-hidden="true"></i> Query</a></li>
                            <li><a href="{{ url_for('endpoint.provenance') }}"><i class="fa fa-clock-o" aria-hidden="true"></i> Provenance</a></li>
                            <li><a href="{{ url_for('endpoint.statements') }}"><i class="fa fa-magic" aria-hidden="true"></i> Statements</a></li>
                        </ul>
                    </li>

                    <li {% if request.url_rule.endpoint in ['debug.blame'] %} class="dropdown active"{% else %} class="dropdown"{% endif %}>
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bug" aria-hidden="true"></i> Debug <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('debug.blame') }}"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Blame</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/AKSW/QuitStore/"><i class="fa fa-github" aria-hidden="true"></i> About</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block headline %}{% endblock %}
            {% block quit_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}
