{% extends "default.html" %}

{% block headline %}
<div class="lead">Merge</div>
<p>Merge one branch <em>Source</em> into another branch <em>Destination</em>.
After the merge procedure the branch <em>Destination</em> will have the result of the merge.</p>
<p>Note: The <em>Three-Way for Files (Git)</em> merge method can currently only merge into the currently checkout out branch (<em>HEAD</em>) </p>
{% endblock %}

{% block quit_content %}
<form class="form-inline" style="display: inline" id="merge" role="navigation">
    <div class="row">
        <div class="form-group">
            <label class="control-label" for="src">
                <i class="fa fa-code-fork" aria-hidden="true"></i> Source:</span>
            </label>
            <select name="src" class="form-control branch-select">
                {% for branch in available_branches %}
                    <option value="{{ branch }}">{{ branch }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="dst">
                <i class="fa fa-code-fork" aria-hidden="true"></i> Destination:</span>
            </label>
            <select name="dst" class="form-control branch-select">
                {% for branch in available_branches %}
                    <option value="{{ branch }}">{{ branch }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="refspec" />
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label" for="method">
                <i class="fa fa-magic" aria-hidden="true"></i> Method:</span>
            </label>
            <select name="method" class="form-control branch-select">
              <option value="three-way">Three-Way for RDF</option>
              <option value="three-way-git">Three-Way for Files (Git)</option>
              <option value="union">Union</option>
              <option value="ours">All Ours</option>
              <option value="theirs">All Theirs</option>
              <option value="touch">Touch</option>
              <option value="context">Context</option>
          </select>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-default btn-lg">
            <img class="octicon" src="{{ url_for('static', filename='octicons/svg/git-pull-request.svg') }}" />
            Merge
        </button>
    </div>
    <div class="alert" role="alert" style="display: none"></div>
</form>

<div id="conflict-view" style="display: none">
<div>
    <h2>Context Merge Conflict</h2>
    <h3>Legend</h3>
    <span style="background-color: #00cc33">added in Destination</span>
    <span style="background-color: #33ffcc">added in Source</span>
    <span style="background-color: #ff6699">deleted in Destination</span>
    <span style="background-color: #ff66ff">deleted in Source</span><br/>
    <span><strong>conflicting Node</strong></span>
</div>
<div id="conflicts">
</div>
</div>
<script type="text/javascript">
inline_functions.push(function() {
    $("#merge").submit(function(event){
        // https://stackoverflow.com/questions/5004233/jquery-ajax-post-example-with-php

        // Prevent default posting of form - put here to work in case of errors
        event.preventDefault();

        // Abort any pending request
        if (request != undefined) {
            request.abort();
        } else {
            var request;
        }
        // setup some local variables
        var $form = $("#merge");

        // Let's select and cache all the fields
        var $inputs = $form.find("input, select, button, textarea");

        // Serialize the data in the form
        var src = $form.find("select[name='src']").val();
        var dst = $form.find("select[name='dst']").val();
        var refspec = "";
        if (src != null) {
            refspec += src;
        }
        if (dst != null) {
            refspec += ":" + dst;
        }

        $form.find("input[name='refspec']").attr('value', refspec);

        var serializedData = $form.serialize();

        // Let's disable the inputs for the duration of the Ajax request.
        // Note: we disable elements AFTER the form data has been serialized.
        // Disabled form elements will not be serialized.
        $inputs.prop("disabled", true);

        // Fire off the request to /form.php
        request = $.ajax({
            url: $form.attr('action'),
            type: "post",
            data: serializedData,
            headers: {"Accept": "application/json"}
        });

        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR){
            // Log a message to the console
            console.log("Hooray, it worked!");
            $("#merge div.alert").removeClass("alert-warning").addClass("alert-success")
            .text("Hooray, it worked! " + response.result_message).show();
        });

        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown){
            // Log the error to the console
            console.error(
                "The following error occurred: "+
                textStatus, errorThrown
            );
            if (jqXHR.status == 409) {
                showConflicts($.parseJSON(jqXHR.responseText));
                $("#conflicts").find("table").find("tr").find("td:last").after('<td><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-times" aria-hidden="true"></i><i class="fa fa-pencil" aria-hidden="true"></i></td>');
            } else {
                $("#merge div.alert").removeClass("alert-success").addClass("alert-warning")
                .html("The following error occurred: <br/>"+ jqXHR.responseText).show();
            }
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });
    })
});

function showConflicts (conflicts) {
    $("#conflict-view").show();

    console.log(conflicts);

    for (file in conflicts) {
        $("#conflict-view #conflicts").html();
        var div = $("<div></div>");
        div.appendTo("#conflict-view #conflicts");
        console.log(file);
        var conflictNodes = conflicts[file]["conflicts"]["nodes"];
        div.append("<h3>" + file + "</h3>");
        table = $("<table />").appendTo(div);
        lines = conflicts[file]["ok"].split("\n");
        for (line in lines) {
            var cell = $("<td>");
            var row = $("<tr>");
            table.append(row.append(cell));
            cell.html(highlightConflictNode(lines[line], conflictNodes));
        }
        addConflictLine(conflicts[file]["conflicts"]["addA"], table, "#00cc33", conflictNodes);
        addConflictLine(conflicts[file]["conflicts"]["addB"], table, "#33ffcc", conflictNodes);
        addConflictLine(conflicts[file]["conflicts"]["delA"], table, "#ff6699", conflictNodes);
        addConflictLine(conflicts[file]["conflicts"]["delB"], table, "#ff66ff", conflictNodes);
        console.log(conflicts[file]["ok"]);
    }
}

function addConflictLine(conflicts, table, color, conflictNodes) {
    if (conflicts != undefined) {
        lines = conflicts.split("\n");
        for (line in lines) {
            var cell = $("<td>");
            var row = $("<tr>");
            row.attr("style", "background-color: " + color)
            row.append(cell);
            table.append(row);
            cell.html(highlightConflictNode(lines[line], conflictNodes));
        }
    }
}

function highlightConflictNode(line, conflictNodes) {
    line = htmlEntities(line);
    for (node in conflictNodes) {
        nodeUri = htmlEntities(conflictNodes[node]);
        var regex = RegExp(nodeUri, "g"), result, indices = [];
        var i = 0;
        var newStr = ""
        var len = nodeUri.length;
        while ( (result = regex.exec(line)) ) {
            newStr += line.substring(i, result.index);
            newStr += "<strong>" + line.substring(result.index, result.index+len) + "</strong>";
            i = result.index+len;
        }
        newStr += line.substring(i)
        line = newStr;
    }
    return line;
}

function htmlEntities(str) {
    return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
}
</script>

{% endblock %}
