{% extends "default.html" %}

{% block headline %}<div class="lead">Statements</div>{% endblock %}

{% block quit_content %}

<form>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
</form>
<div id="yasr"></div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/jquery.commits-graph.js') }}"></script>
<script>
    var yasr = YASR(document.getElementById("yasr"), {
        getUsedPrefixes: yasqe.getPrefixesFromQuery,
        outputPlugins: ["error", "boolean", "rawResponse", "table"]
    });
</script>
{% endblock %}